body, html {
    margin: 0;
    height: 100%;
}

body {
    background-color: #363062;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: max(64px ,6vw);
    margin: 4px;
}

h2 {
   text-align: center; 
}

input {
    border-radius: 8px;
    font-size: 16px;
}

button {
    width: 7rem;
    font-size: 16px;
    border: none;
    background-color: #F5F7F8;
    border-radius: 16px;
}

form {
    position: relative;
}

#loading-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading {
    width: 40%;
    height: auto;
    transform-origin: center;
    filter: invert(100%) sepia(1%) saturate(1696%) hue-rotate(171deg) brightness(90%) contrast(117%);
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#city-form {
    padding: 8px;
    background-color: transparent;
    color: #F5F7F8;
    border: #F5F7F8 solid 1px;
}

#submit-form {
    border: none;
    padding: 9px;
    background-color: #F5F7F8;
}

#banner {
    width: 100%;
    height: 450px;
    object-fit: cover;
    margin-top: 1rem;
}

#suggestion-box {
    position: absolute;
    top: 48px;
    background-color: #F5F7F8;
    border-radius: 8px;
}


ul {
    color: black;
    list-style-type: none;    
    margin: 0;
    padding: 1rem .5rem;
}

.rounded-container {
    background-color: #435585;
    border-radius: 2rem;
    margin: 0 2rem 2rem;
}

.space-around {
    display: flex;
    justify-content: space-around;
}

.inline-spaced {
    display: flex;
    gap: 3rem;
}

.inline-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.padded-container {
    padding: 24px 24px;
}

.padding-bottom {
    padding-bottom: 24px;
}

.flex-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small-icon {
    width: 48px;
    height: 48px;
    filter: invert(100%) sepia(1%) saturate(1696%) hue-rotate(171deg) brightness(90%) contrast(117%);
}

.detail-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-left-aligned {
    align-items: start;
}

.flex-right-aligned {
    align-items: end;
}

.weather-detail {
    display: flex;
    justify-content: start;
    align-items: center;
}

#daily-hourly-weather-button-container {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 1rem;
}

.forecast-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.daily-weather-title {
    font-size: clamp(22px, 2.5vw, 28px);
}

.daily-weather-condition-container {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.daily-weather-condition-container  h2 {
    margin: 0 0;
}

#hourly-forecast-container {
    display: grid;
    grid-template-columns: 48px auto 48px;
    align-items: center;
}

.navigation-circles {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.navigation-circle {
    background-color: #F5F7F8;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

@media (max-width: 726px) {
    .flex-left-aligned {
        align-items: center;
    }
    
    .flex-right-aligned {
        align-items: center;
    }

    .weather-detail {
        justify-content: center;
    }
}
